# path: .gitignore

#### files
.*
!.gitignore
.env*
*.log
nohup.out
docker-compose.yaml
docker-compose.yml
compose.yaml
compose.yml
go.work.sum

#### directories
configs/
data/
logs/
target/

####
bin/
dist/
build/
node_modules/
vendor/
__pycache__/
